<div class="container mt-5">
  <div class="mb-3">
    <a href="{% url 'dashboard_fizjo' %}" class="btn btn-outline-secondary"
      >← Powrót</a
    >
    <a href="{% url 'dodaj_plan_treningowy' %}" class="btn btn-success ms-2">
      <i class="fas fa-plus"></i> Stwórz Nowy Plan
    </a>
    <a
      href="{% url 'importuj_plan_csv' %}"
      class="btn btn-info ms-2 text-white"
    >
      <i class="fas fa-file-import"></i> Importuj z CSV
    </a>
  </div>

  <table class="table table-striped table-hover border mt-4">
    <thead class="table-dark">
      <tr>
        <th>Nazwa Planu</th>
        <th>Pacjent</th>
        <th>Data utworzenia</th>
        <th>Akcje</th>
      </tr>
    </thead>
    <tbody>
      {% for plan in plany %}
      <tr>
        <td>{{ plan.nazwa }}</td>
        <td>{{ plan.pacjent.imie }} {{ plan.pacjent.nazwisko }}</td>
        <td>{{ plan.data_utworzenia|date:"d.m.Y" }}</td>
        <td>
          <a
            href="{% url 'szczegoly_planu_fizjo' plan.id %}"
            class="btn btn-sm btn-primary"
          >
            Zobacz Feedback
          </a>
          <a
            href="{% url 'eksportuj_plan_csv' plan.id %}"
            class="btn btn-sm btn-outline-success ms-1"
          >
            Eksport CSV
          </a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4" class="text-center">
          Nie przypisałeś jeszcze żadnych planów.
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
